[Unit]
Description=Background matcher for XFCE4 and LightDM
Before=lightdm.service

[Service]
ExecStart=/usr/bin/lightdm-gtk-backgroundmatch

[Install]
WantedBy=lightdm.service
